{% extends 'landing/base.html' %}
{% block title %}
Terms and privacy
{% endblock %}

{% block content %}
<div class="container py-4">
    <section class="widget-section bg-light">
        <h2 class="text-center mb-4">Privacy and information protection policy.</h2>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <p>By leaving data on the platform, the user agrees to the Privacy and Information Protection Policy. This Privacy Policy applies only to this site. In case of disagreement with the terms, the User has to stop using the website.</p>
                    <h2 class="text-center mb-4">Data protection</h2>
                    <p>The administration of the website Company Name (further Website) cannot share or disclose information provided by the user (further User) when registering and using the site's functionality to third parties. Personal information can be disclosed in cases described by law, or when the administration considers such actions necessary to comply with the legal procedure, court order or legal process necessary for the User to work with the Webite. In other cases, under no circumstances, the information that the User transmits to the Website will not be disclosed to third parties.</p>
                    <p>Personal data permitted for processing under this Policy are provided by the User by filling out special forms on the Website and may include the following information:</p>
                    <ul>
                        <li>Name/Username of User;</li>
                        <li>E-mail address (e-mail);</li>
                        <li>Wallet numbers in payment systems (for funds payments).</li>
                        <li>The Website administration also makes efforts to protect Personal data, which are automatically transmitted during the visit to the site pages:</li>
                    </ul>
                    <ol>
                        <li>Device type;</li>
                        <li>IP address;</li>
                        <li>Information from cookies;</li>
                        <li>Information about the User's browser;</li>
                        <li>Time and duration of access;</li>
                        <li>Visited page addresses.</li>
                    </ol>
                    <p>The Website collects statistics about the IP addresses of its visitors. This information is used to identify and solve technical problems.</p>
                    <p>&nbsp;</p>
                    <h2 class="text-center mb-4">Purposes of obtaining Personal Information</h2>
                    <p>The main goal of everyone who visits the site is the identification of the User, as well as access to the personal account of the site of registered participants. Also important criteria are:</p>
                    <ol>
                        <li>Establishing feedback with the User, including sending notifications and requests regarding the use of the site, the provision of services, processing requests and applications from the User.</li>
                        <li>Determining the location of the User to ensure security and prevent fraud.</li>
                        <li>Confirmation of the accuracy and completeness of personal data provided by the User.</li>
                        <li>Providing the User with effective technical support in case of problems related to the use of the site.</li>
                        <li>Providing the User, with his consent, of special offers, news and other information on behalf of the site.</li>
                        <li>Providing the User with access to third-party sites or services of partners of this site in order to receive their offers, updates or services.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <h2 class="text-center mb-4">Methods and terms of processing personal information</h2>
                    <ol>
                        <li>The processing of the User's personal data is carried out without any time limit, and in any legal way, including in personal data information systems with or without automation tools.</li>
                        <li>The User's personal data can be shared to the authorized state authorities only in the manner prescribed by law and in accordance with the circumstances established by law.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <h2 class="text-center mb-4">Responsibility of parties</h2>
                    <ol>
                        <li>The Website administration is responsible for the deliberate disclosure of the User's Personal data in accordance with the current legislation, with the exception of cases described by the legislation of the country in which the user operates.</li>
                        <li>In case of loss or disclosure of Personal data, the Website Administration is not responsible if this confidential information:</li>
                    </ol>
                    <ul>
                        <li>Was received from a third party before it was received by the Website Administration.</li>
                        <li>Was obtained by third parties through unauthorized access to site files.</li>
                        <li>Was disclosed with the permission of the User.</li>
                        <li>The user is fully responsible for compliance with the legal requirements, including the laws on advertising, on the protection of copyright and related rights, on the protection of trademarks and service marks, but not limited to the above, including full responsibility for the content and form of materials.</li>
                    </ul>
                    <h3>&nbsp;</h3>
                    <h2 class="text-center mb-4">Dispute Resolution</h2>
                    <ol>
                        <li>Before going to court with a claim for disputes arising from the relationship between the Website User and the Website Administration, it is mandatory to submit a claim (proposals in electronic form for a voluntary settlement of the dispute).</li>
                        <li>The recipient of the claim need electronically notify the applicant of the claim about the results of the consideration of the claim within 30 calendar days from the date of receipt of the claim.</li>
                        <li>In case if the parties failed to reach an agreement, the dispute will be referred to a judicial authority in accordance with applicable law.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <h3>&nbsp;</h3>
                    <h3>Additional terms</h3>
                    <p>The Website reserves the right to make changes to the Privacy Policy without further notice. The innovations coming into effect from the moment of their publication. Users can track changes to the Privacy Policy on their own.</p>
                    <h3>&nbsp;</h3>
                    <h3>Use of personal information</h3>
                    <p>Personal information can be disclosed in cases described by law, or when the administration considers such actions necessary to comply with the legal procedure, court order or legal process necessary for the User to work with the Website. In other cases, under no circumstances, the information that the User transmits to the Website will not be disclosed to third parties.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}