.modal-dialog {
    max-width: 86vw;
    max-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
    justify-content: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.checkmark-icon {
    font-size: 4rem;
    color: #28a745;
    margin-bottom: 1rem;
}

.modal-title {
    color: #333;
    font-weight: bold;
}

.modal-text {
    color: #666;
    margin-top: 0.5rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.blink-animation {
    animation: blink 1s infinite;
}

